body {
    /*background: #E8EBE6;*/
}

.verseNumber {
    color: #dc3545;
}
div.footnotes :first-child {
    border-top: 1px solid #212529;
    padding-top: 16px;
}
#chapters>tbody {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    padding: 6px 12px;
}
.chapterLinks {
    padding-right: 20px;
   
}
.chapterLinks a.current, a.current:hover {
    color: #212529;
}
.chapterLinks a {
    text-decoration: none;
    color: #0d6efd;
}
.chapterLinks a:hover {
    cursor: pointer;
}
.page {
    min-height: 100vh;
    padding:100px 80px;
    background: #fff;
    margin: 50px;
    border-bottom: 2px dashed #E8EBE6;
}
.text-indent, .ti {
    text-indent: 50px;
}
.dontRead {
    speak: none;
}
.tableOfContents li {
   align-items: end;
   margin-bottom: 7px;
   
}
.tableOfContents .dots {
   border-bottom: 2px dotted;
   width: 100%;
   position:relative;
   bottom: 5px;
}
.pageNumber {
    text-align: center;
}
.tableOfContents a {
    margin-right: 3px;
    width: 99vw;
    overflow: hidden;
    text-decoration: none;
}
.tableOfContents a::after {
    content: "..........................................................................................................................................................................................................................................................................................";
    color: rgb(33, 37, 41);
}
table {width: 100%;}
th {
    font-weight:normal;
    text-align: center;
}
td {
    padding-left: 1em;
}
table, td, th {
    border-collapse: collapse;
    /* border: 1px solid; */
}

.tabernacle {
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    padding: 15px 10px 30px 10px;
}
.tent {
    border: 1px solid black;
}
.tent div:first-child {
    border-bottom: 1px solid black;
}
.tabernacle div:nth-child(2) {margin-top: 15px;}
.tent div {padding: 10px;}

@media only screen and (min-width: 600px) {
    .tableOfContents a {
        white-space: nowrap;
    }
}
.blue {
    background-color: hsl(196, 100%, 70%);
}
.u {text-decoration: underline;}
.du {text-decoration-line: underline;text-decoration-style: double;}
.fullCenter {margin: 0 auto; width: 100%;}
.pl-25 {padding-left: 25px;}
.ml-75 {margin-left: 75px;}
.vh{visibility:hidden;}
.emph {font-size:calc(105%); font-weight:900;}
.highlight {
    background-color: #ffe564;
}
header {
    text-align: left;
}

nav {
    top: 0;
   /* position: fixed;*/
    width: 100%;
    background: #fff;
    padding: 10px 0;
    max-width: 1320px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;   
}
.book h1 {
    /* margin-top: 130px; */
}
.book {
    margin-bottom:100px;
}

@media only screen and (max-width: 768px) {
    .page {
        padding: 0;
        margin: 0;
    }
    .container {
        max-width: initial;
    }

    .m-5.mobile-m-5 {
        margin: 0 !important;
        grid-template-columns: 20% 80% !important;
    }
}

@media (prefers-color-scheme: dark) {
    body, nav, .page, #search, div.input-group, tr, tr:nth-child(odd) {
        background-color: #202124;
        color: #bdc1c6;
    }

    #search, div.input-group {
        border-color: #6c757d;
    }

    div.input-group, tbody, #chapters>tbody {
        border-color: #6c757d;
    }

    .highlight {color: #202124;}

    .chapterLinks a.current {
        color: #dc3545;
    }
}